
.list-group>a .fa {
  color: #5A55A3;
}
.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
.list-group>a.active,
.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

.success-btn{
  background-color: #4caf50!important;
}

.logout-btn{
  background-color: rgba(239, 10, 10, 0.54);
  margin-top:10px;
  color:white;
}

.home-msg{
color: rgb(183, 184, 185);

}

.bg-nav{
  background-color: rgb(162, 181, 181);
}

.bg-blue{
background-color:rgba(33, 150, 243, 0.05);
}

.btn-primary{
  background-color: #022d4e;
}

.darkblue-color{
  color:#022d4e!important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
    background-color:#022d4e!important;
}

.list-group>a.active:after {
  border-left: 10px solid black!important;
}

.btn-primary:hover{
  background-color: #0a4979;
}

.log-form{
  background-color: rgba(47, 79, 79, 0.58);
  padding:20px;
}

.tab-bg{
  background-color: #fff!important;
}

.f-30{
  font-size: 30px!important;
}


.f-20{
  font-size: 20px!important;
}

.f-18{
  font-size: 18px!important;
}

.f-16{
  font-size: 16px!important;
}

.green-font{
color: green;
}

.blue-font{
color:#337ab7;
margin-left: 5px;
}

.submit-btn{
margin-right: 30px;
}

.submit-button{

font-size: 20px;
margin-top: 30px;
margin-bottom:10px;
width: 150px;

}

.ques-margin{
margin-top:15px;
margin-left:15px;
}

.danger{
color:darkred;

}

.m-t-20{
  margin-top: 20px;
}

.m-t-10{
  margin-top: 10px;
}

.m-l-10{
  margin-left: 10px;
}

.m-l-0{
  margin-left: 0px;
}

.m-b-0{
  margin-bottom:0px;
}

.m-b-10{
  margin-bottom:10px;
}

input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"]{

vertical-align: middle!important;

}
