<!-- <div>
  <div id="exportthis">
<p> asdhajdhkajsdhkjasgdkjasgdjgasd<p>
  </div>
</div> -->



<div class="content-section-a">
        <div class="container">
            <div class="row">

              <button ng-show="course1status"  ng-click="generatecerti()" class="btn btn-primary">Download Certificate Course 1</button>
              <div>
                <div id="exportthis">
              <p> asdhajdhkajsdhkjasgdkjasgdjgasd<p>
                </div>
              </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <div id="exportthis">
    <p> asdhajdhkajsdhkjasgdkjasgdjgasd<p>

    </div> -->
