<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 ng-click="selectCourse('course1')" style="cursor:pointer;" class="section-heading">Take this course</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facere sed, repellendus at necessitatibus ab sint eaque, nobis veritatis eum quo nulla laborum natus odio rem consectetur nesciunt facilis voluptatibus!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!--<img class="img-responsive" src="img/ipad.png" alt="">-->
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 ng-click="selectCourse('course2')" style="cursor:pointer;" class="section-heading">Take this course</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, vel consequatur reiciendis officia ad consequuntur perspiciatis iste a esse autem veniam itaque, dolores quisquam qui delectus vitae consectetur, laudantium numquam!</p>
                </div>
            </div>
        </div>
    </div>