<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 ng-click="selectCourse('course1')" style="cursor:pointer;" class="section-heading">Course 1 <span class="text-success" style="font-size: 20px;" ng-show="course1status">Completed</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facere sed, repellendus at necessitatibus ab sint eaque, nobis veritatis eum quo nulla laborum natus odio rem consectetur nesciunt facilis voluptatibus!</p>

                    <button ng-show="course1status"  ng-click="cert1page()" class="btn btn-primary">Generate Certificate Course 1</button>


                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!--<img class="img-responsive" src="img/ipad.png" alt="">-->
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 ng-click="selectCourse('course2')" style="cursor:pointer;" class="section-heading">Course 2 <span class="text-success" style="font-size: 20px;" ng-show="course2status">Completed</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facere sed, repellendus at necessitatibus ab sint eaque, nobis veritatis eum quo nulla laborum natus odio rem consectetur nesciunt facilis voluptatibus!</p>

                    <button ng-show="course2status" class="btn btn-primary">Generate Certificate Course 2</button>


                </div>
            </div>
        </div>
    </div>

    <!-- <div id="exportthis">
    <p> asdhajdhkajsdhkjasgdkjasgdjgasd<p>

    </div> -->
