<div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 ng-click="selectCourse('course1')" style="cursor:pointer;" class="section-heading">Course 1 <span class="text-success" style="font-size: 20px;" ng-show="course1status">Completed</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facere sed, repellendus at necessitatibus ab sint eaque, nobis veritatis eum quo nulla laborum natus odio rem consectetur nesciunt facilis voluptatibus!</p>

                    <button ng-show="course1status"  ng-click="cert1page()" class="btn btn-primary">Generate Certificate Course 1</button>


                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!--<img class="img-responsive" src="img/ipad.png" alt="">-->
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 ng-click="selectCourse('course2')" style="cursor:pointer;" class="section-heading">Course 2 <span class="text-success" style="font-size: 20px;" ng-show="course2status">Completed</span></h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facere sed, repellendus at necessitatibus ab sint eaque, nobis veritatis eum quo nulla laborum natus odio rem consectetur nesciunt facilis voluptatibus!</p>

                    <button ng-show="course2status" ng-click="cert2page()" class="btn btn-primary">Generate Certificate Course 2</button>


                </div>
            </div>
        </div>


    </div>

    <script type="text/ng-template" id="modal.html" >
      <div class="modal fade">
       <div class="modal-dialog">
         <div class="modal-content">

           <div class="modal-body">
       <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
       <figure class="large_View text-center ">
       <img src="http://www.trailsofindia.com/oc/image/data/pathpavers/BMC-Air-Filter-for-Bikes-SDL671451017-1-21869.jpg" alt="Dash Point AVC -2 Bag" id="dis_img">
       </figure>
           </div>

         </div>
       </div>
     </div>
  </script>
