
<style>
  .disabled{
    pointer-events: none;
  }
  .des{
    font-size: 20px;
    font-weight: 700;
    color: #3c3a3a;
  }
  .table-cus{
    margin: 0 auto;
  }
</style>
<div class="content-section-a">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center m-t-10 f-30 m-b-10 ">
            Treasury 101
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="list-group">
                <a href="" id="tab1" class="list-group-item active text-center" ng-click="tab='first'">
                 Module 1
                </a>
                <a href="" id="tab2" class="list-group-item text-center" ng-class="{'disabled':!compelete2_module1}" ng-click="tab='second'">
                  Module 2
                </a>
                <a href="" id="tab3" class="list-group-item text-center" ng-class="{'disabled':!compelete2_module2}" ng-click="tab='third'">
                  Module 3
                </a>
                <a href="" id="tab4" class="list-group-item text-center" ng-class="{'disabled':!compelete2_module3}" ng-click="tab='fourth'">
                  Module 4
                </a>
              </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                <div ng-show="tab=='first'">
                    <div class="panel panel-default" >
                      <div class="panel-heading f-18">Treasury 101 - Module 1<span class="text-success" ng-show="course2status || compelete2_module1">&nbsp;Completed&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                      <div class="panel-body">
                        <div class="row">

                          <div class="col-md-9 col-md-offset-1 m-l-0">
                              <video class="border" id="module1" name="module1" width="auto" height="500px" poster="http://pepsicodemo.scaledesk.com/pepsico-demo/img/video-preview.png" controls="">
                                <source src="http://52.66.139.3:8023/treasury_1_V2.mp4" type="video/mp4">
                              </video>
                          </div>
                        </div>

                    </div>
                  </div>

                  <div class="panel panel-default"  >
                    <div class="panel-heading">
                      <div class="row"  >
                        <div class="col-md-6 f-18">
                          Treasury 101 - Module 1
                        </div>

                        <div class="col-md-6 text-right f-18">
                        Description
                        </div>


                      </div>


                    </div>

                    <div class="panel-body" >
                      <div class="row"  >

                        <p class="m-l-10">Welcome to Treasury 101 Course</p>
                        <p class="m-l-10"><span>In this Course, various aspects of Treasury is explained by means of 4 basic modules."</span><br />
                          <span>1. Treasury Scope</span><br />
                          <span>2. Banks and Banking Instruments</span><br />
                          <span>3. Imports and Exports</span><br />
                          <span>4. Treasury Projects</span>
                        </p>
            <p class="m-l-10 text-center des"><strong>Treasury Scope</strong></p>
            <p class="m-l-10">As Sales is the face of the company for Customers, R&amp;D for innovation, Reporting for Sector, Treasury is the face of the company for Banks. Treasury is the part of all activities where Banks act as key Stakeholders. Treasury in a company is key in determining the firm&rsquo;s financial strategy and financial policy &ndash; advising on what businesses to invest in, organizing the appropriate funding for this, and controlling the risk in the organization.</p>
            <p class="m-l-10 text-center des"><strong>India Treasury Team - Organization Structure</strong></p>
            <p class="m-l-10">Treasury Department in PepsiCo India Region is a part of Finance Control Team stationed at the PepsiCo India headquarters &ndash; Gurgaon. The team looks after all treasury related &lt;p/&gt; operations in India Region - India, Bangladesh, Sri Lanka and Nepal.</p>
            <p class="m-l-10">The team is &nbsp;lead by India Treasurer. Treasury Manager reports to India Treasurer while Treasury Consultant (Operations) and Treasury Consultant (Exports and Insurance) report to Treasury manager. </p>
            <p class="m-l-10">In this module, we will capture the following &nbsp;in brief:</p>
            <ol>
            <li> Cash Flow Operations in India</li>
            <li> Cash Management</li>
            <li> Import Payments</li>
            <li> Exports Commercial &amp; documentation</li>
            <li> Hedging</li>
            <li> Manage PF Investments</li>
            <li> Risk Management</li>
            </ol>

            <p class="m-l-10">Let us elaborate few of the above categories. </p>

            <p class="m-l-10 text-center des"><strong>Cash Flow Operations India Region</strong></p>
            <p class="m-l-10">Treasury facilitates:</p>


            <ul>
            <li>Payments</li>
            </ul>


            <p class="m-l-10">Treasury forms the final leg of all kinds of Payments. </p>

            <p class="m-l-10">Treasury does the following</p>


            <ol>
            <li ><span>Decides which bank to be co-ordinated for Payments depending on Criteria like &ndash; Relationship, Charges, IT Infrastructure, Processing Time, etc.</li>
            <li ><span>Ensures local/foreign payments are as per RBI norms</li>
            <li ><span>Ensures payment approvals are as per Authority Matrix &amp; Board Resolution.</li>
            <li ><span>Ensure smooth processing of advances &amp; urgent payments</li>
            <li ><span>Ensures funds are available for smooth transactions.</li>
            <li ><span>Ensures smooth cross-country payments (buying/selling functional currencies &amp; paying off)</li>
            </ol>

            <p class="m-l-10">Treasury in association with other finance verticals, have outsourced the payments. Today, IBM&rsquo;s &nbsp;P2P team takes care of invoice processing (normal/advances/urgent), discrepancy reporting, reconciliation, and even posting of entries in our books of accounts. </p>

            <p class="m-l-10">Treasury should be approached in one of the following cases.</p>


            <ol>
            <li>Queries in regards to rightful approver for any payment</li>
            <li>New/Exceptional/unique payments which requires a feasibility check as per RBI guidelines</li>
            <li>Queries in regards to pre-requisites or documents required for successful completion of transactions</li>
            <li>Queries on urgent payments, for example, on-time payment to government bodies</li>
            </ol>


            <p class="m-l-10">Another Critical area of Cash flow Operations is Collections</p>

            <p class="m-l-10">Treasury team co-ordinates from the flow of money from Distributors or Modern Trade Partners &amp; On-premise outlets to Bank. </p>
            <p class="m-l-10">Treasury does the following:</p>

            <ol>
            <li>Maps collections accounts to various distributors as on when created.</li>
            <li>Maps collections to respective GLs for clarity in recording in the books of accounts.</li>
            <li>Intimates about Bank holidays and other days when collections can be disrupted.</li>
            </ol>


            <p class="m-l-10">Treasury should be approached in one of the following cases</p>

            <ol>
            <li>When units require clarity &ndash; If PepsiCo has received funds against a particular claim (Kindly note, Treasury has provided access to units and IBM with the viewing rights in Banks Portal)</li>
            <li>Programs like Channel Financing and NACH as a product &lt;/p&gt; their details and implementation.</li>
            </ol>


            <p class="m-l-10 text-center des"><strong>Cash Management</strong></p>
            <p class="m-l-10">In Cash Management, Treasury is responsible for the cash line in the Balance Sheet. </p>

            <p class="m-l-10">The team does in the following:</p>

            <ol>
            <li>Forecast on Payment and collection, &lt;/p&gt; both Short term and long term</li>
            <li>Ensuring availability of funds for thousands of payments on a daily basis.</li>
            <li>Monitoring Debt Position by timely and correct fund transfers. This is to ensure maximum interest saving. </li>
            <li>Monitoring Cash Position by investing surplus cash</li>
            <li>Buying/Selling of non-functional currency at a reasonable rate</li>
            <li>Circulating Bank Statements to concerned stakeholders for internal reconciliation with the books of accounts.</li>
            </ol>


            <p class="m-l-10 text-center des"><strong>Trade &ndash; Imports &amp; Exports</strong></p>

            <ol>
            <li> Imports</li>
            </ol>

            <p class="m-l-10">PepsiCo makes huge imports payments for </p>

            <ol>
            <li>Raw Materials (e.g. Oats) /Packaging Material(e.g. pre-forms)</li>
            <li>Finished goods (e.g. Doritos)</li>
            <li>Capex related (e.g. plant &amp; machineries).</li>
            </ol>


            <p class="m-l-10">Treasury should be contacted if any import/exports which may require RBI permissions or bound by Banking limitations.</p>

            <ol>
            <li> Exports</li>
            </ol>

            <p class="m-l-10">PepsiCo exports</p>

            <ol>
            <li>Raw Materials/Packaging Materials (e.g. spice mix &amp; concentrate) </li>
            <li>Finished goods (e.g. lays, kurkure &amp; Quaker) to countries like Bangladesh, Nepal or Sri Lanka.</li>
            </ol>


            <p class="m-l-10">Treasury co-ordinates and ensures all documents are in places for Banking compliance point of view.</p>
            <p class="m-l-10">Treasury handles the crucial task of providing documents to banks</p>

            <p class="m-l-10">Escalation to Treasury should happen if</p>
            <p class="m-l-10">(i) PepsiCo needs to Export to countries other than the existing/regular ones or</p>
            <p class="m-l-10">(ii) Issues in Existing Exports process</p>

            <p class="m-l-10 text-center des"><strong>Forex &amp; Hedging</strong></p>

            <ul>
            <li>Forex</li>
            </ul>

            <p class="m-l-10">The imports payments are in non-local currencies like USD, AUD or EURO. </p>

            <p class="m-l-10">Treasury &nbsp;plays a pivotal role:</p>

            <ol>
            <li>To Buy or Sell non-local currency at reasonable rates.</li>
            <li>To reduce currency risk and minimize Forex Loss</li>
            <li>To Ensure all documents are in place for internal audit.</li>
            <li>To Correctly represent of all such transaction in books of account.</li>
            </ol>


            <p class="m-l-10">For Example</p>
            <p class="m-l-10">Import payments &amp; Export collections are in USD, AUD, EURO, JPY , BDT . Apart from import and exports, there are inter country cross-charges in foreign currency. In such scenario, PepsiCo is exposed to currency risk or transactional risk. </p>

            <ul>
            <li>Hedging</li>
            </ul>

            <p class="m-l-10">Hedging is analogous to insuring. Hedging ensures guaranteed inflow/outflow of cash at a particular rate, provides a clearer picture about our investments and/or payments. In this VUCA world, PepsiCo takes calculative decision on where to hedge. Hedging in India is largely governed by the corporate FX team. </p>
            <p class="m-l-10">Example &ndash; Here is an example where Hedging addresses the exposure of a futuristic payment.</p>
            <p class="m-l-10">Assume, PepsiCo INC have provided a loan of USD 20MM to PepsiCo India to facilitate expansion of business in India. PepsiCo India promises to repay the same on some later date (say 3 years from now). India business converts this foreign currency (USD) to local currency (INR) and &nbsp;uses the same to expand the business. </p>

            <p class="m-l-10">One can clearly observe that 3 years is enough to have huge uncertainty on the exchange rate. One learning is INR has devalued from INR 45/USD in 2011-12 to INR 65/USD in 2014-15. The dollar repayment to PepsiCo INC is hence hedged as per the repayment schedule. Hedging cost is generally around 8%. The team also works closely with bank to ensure all future cross-currency transactions are rightly hedged.</p>

            <p class="m-l-10">Note &ndash; Treasury assesses the exposure (currency risk in the above example) before going ahead with the hedging. </p>
            <p class="m-l-10">For more detail, you may refer to the course on Managing Foreign Exchange in MyLearnings.</p>
            <p class="m-l-10 text-center des"><strong>Insurance &ndash; Creation, Renewals and Claim Processing </strong></p>

            <ol>
            <li> Insurance Creation &amp; Renewal</li>
            </ol>
            <p class="m-l-10">Treasury ensures everyone and everything in PepsiCo is ensured. There are a variety of Insurances. Few examples are as follows:</p>

            <div class="table-responsive">
            <table class="table-cus" border="1">
            <tbody>
            <tr>
            <td>
            <p class="m-l-10">No.</p>
            </td>
            <td>
            <p class="m-l-10">Insurances</p>
            </td>
            <td>
            <p class="m-l-10">Short Description</p>
            </td>
            </tr>
            <tr>
            <td>
            <p class="m-l-10">1</p>
            </td>
            <td>
            <p class="m-l-10">Cash in Safe</p>
            </td>
            <td>
            <p class="m-l-10">Burglary/Theft of Cash whilst stored in safe with a proper lock &amp; key at Units, Plant &amp; Warehouses</p>
            </td>
            </tr>
            <tr>
            <td>
            <p class="m-l-10">2</p>
            </td>
            <td>
            <p class="m-l-10">Mega Risk</p>
            </td>
            <td>
            <p class="m-l-10">Covers all plants, buildings, warehouses where PepsiCo has insurable Interest</p>
            </td>
            </tr>
            <tr>
            <td>
            <p class="m-l-10">2</p>
            </td>
            <td>
            <p class="m-l-10">Money in transit</p>
            </td>
            <td>
            <p class="m-l-10">Stealing/snatching of money whilst being carried by insured&rsquo;s representatives to and from the designated premises </p>
            </td>
            </tr>
            <tr>
            <td>
            <p class="m-l-10">3</p>
            </td>
            <td>
            <p class="m-l-10">Fidelity Guarantee</p>
            </td>
            <td>
            <p class="m-l-10">This policy covers the employer in respect of any direct financial loss</p>
            </td>
            </tr>
            <tr>
            <td>
            <p class="m-l-10">4</p>
            </td>
            <td>
            <p class="m-l-10">All Risk</p>
            </td>
            <td>
            <p class="m-l-10">The policy provides cover to the &ldquo;Moveable electronic equipment&rdquo; &amp; other assets.</p>
            </td>
            </tr>
            <tr>
            <td>
            <p class="m-l-10">5</p>
            </td>
            <td>
            <p class="m-l-10">PLIA</p>
            </td>
            <td>
            <p class="m-l-10">Public Liability Act Policy covers environmental risk similar to Bhopal Gas Tragedy</p>
            </td>
            </tr>
            </tbody>
            </table>
          </div>

            <p class="m-l-10">Treasury does the following:</p>

            <ul>
            <li>Identifies requirement of any new insurances</li>
            <li>Identifies the best insurer (by quotations, claim handling and other considerations)</li>
            <li>Ensures all insurances are timely renewed</li>
            <li>Negotiates the cost of insurances</li>
            <li>Co-ordinates with plants and units for insuring their assets &amp; handling claims</li>
            </ul>


            <p class="m-l-10 text-center des"><strong>Insurance &ndash; Creation, Renewals and Claim Processing </strong></p>

            <ul>
            <li>Claim Processing</li>
            </ul>


            <p class="m-l-10">All claim handling and processing is handled by Treasury team. The team in co-ordination with the HR and a third party vendor &ndash; Global Insurance to help smoothen the claim handling process and addressing queries and issues in a timely manner. </p>

            <p class="m-l-10">For example, the chennai floods in 2015, which caused tremendous damage in terms of:</p>

            <ul>
            <li>Lost of sales</li>
            <li>Expiry of products due to Business interruption.</li>
            <li>Disruption in Service &amp; Transports (RM/PM damages)</li>
            <li>Damage of Plants &amp; Machineries' </li>
            <li>Damages at warehouses</li>
            </ul>


            <p class="m-l-10">Treasury worked with the Tamil Nadu and Andhra unit to identify all possible business losses and close the claim handling process.</p>

            <p class="m-l-10">For more detail, you may refer to the course on Understanding India Insurance &amp; Claims in MyLearnings</p>
            <p class="m-l-10 text-center des"><strong>Investment in Provident Fund &ndash; Planning, maintaining &amp; Executing</strong></p>


            <ul>
            <li>PF Investments</li>
            </ul>


            <p class="m-l-10">PepsiCo unlike other major corporates has its own PF Trust. The process moves from</p>


            <ul>
            <li>Identifying the investable surplus in any month.</li>
            <li>Co-ordination with Darashaw (PF Investment advisory Vendor) for identifying areas of Investments.</li>
            <li>Analysing credibility of proposed investments</li>
            <li>In association of PF Trust Committee (considering the limits of type of investments), takes decisions on where to invest.</li>
            <li>Ensures timely documentation and approvals</li>
            <li>Co-ordinates with banks for movement of funds and closure of Investments</li>
            <li>In association with Megasoftsol, keeps record of Investments</li>
            <li>Ensures timely maturity of Bonds</li>
            <li>Ensures investments are within the categorical limits (Government Bonds, Corporate Bonds, T Bills, Mutual Funds, Fix Deposits) sets by Ministry of Labour</li>
            </ul>


            <p class="m-l-10">Treasury reports the investments to the Ministry on a Yearly basis. The investments may be of any tenor &ndash; as small as 7 days to as large as 30 yrs.</p>


                      </div>


                    </div>
                  </div>
                </div>


                <div ng-show="tab=='second'">

                  <div class="panel panel-default" >
                    <div class="panel-heading f-18">Treasury 101 - Module 2<span class="text-success" ng-show="course2status || compelete2_module2">&nbsp;Completed&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                    <div class="panel-body">

                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 m-l-0">
                            <video class="border" id="module2" name="module2" width="auto" height="500px" poster="http://pepsicodemo.scaledesk.com/pepsico-demo/img/video-preview.png" controls="">
                               <source src="http://52.66.139.3:8023/treasury_2_V2.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>

                  </div>
                </div>

                <div class="panel panel-default"  >
                  <div class="panel-heading">
                    <div class="row"  >
                      <div class="col-md-6 f-18">
                        Treasury 101 - Module 2
                      </div>
                      <div class="col-md-6 text-right f-18">
                      Description
                      </div>

                    </div>


                  </div>

                  <div class="panel-body" >
                    <div class="row"  >

                      <p class="m-l-10 text-center des"><strong>Bank and Banking Instruments</strong></p>

                <p class="m-l-10">In this module, we will capture the following &nbsp;in brief:</p>
                <ul>
                <li>Banks</li>
                <li>Banking Instruments</li>
                <li>MCLR &amp; Interest rates</li>
                <li>Instruments of Next Generation</li>
                </ul>


                <ul>
                <li>Banks</li>
                </ul>

                <p class="m-l-10">PepsiCo India needs Banks to fund for their investments, gaps in working capital, imports, etc. All the bank accounts are handled directly by the Treasury. For Banks, the Treasury team is the face of PepsiCo. For ease of Business, banks have appointed Relationship Managers as first point of contact for any issues or discrepancies. </p>

                <p class="m-l-10">Banks can be majorly classified as </p>

                <ol>
                <li>Revolver Banks</li>
                <li>Non-Revolver Banks. </li>
                </ol>


                <p class="m-l-10 text-center des"><strong>Revolver Banks</strong></p>

                <p class="m-l-10">PepsiCo Inc (the parent company) have international tie-ups with several banks These banks have good credit ratings, world-class IT infrastructure, numerous &amp; customizable banking solutions and world-wide geographical presence. These banks are called revolver banks. As of 2018, PepsiCo India deals with 6 such banks. This number may increase or decrease depending as per PepsiCo India&rsquo;s needs. </p>

                <p class="m-l-10">These banks are:</p>


                <ol>
                <li>CITI Bank</li>
                <li>Bank Of America</li>
                <li>J P Morgan</li>
                <li>Deutsche Bank</li>
                <li>BNP Paribas</li>
                <li>HSBC</li>
                </ol>


                <p class="m-l-10 text-center des"><strong>Non - Revolver Banks</strong></p>

                <p class="m-l-10">Apart from the revolver Banks mentioned earlier, PepsiCo India has accounts with public sector banks. These are majorly due to government regulations, specific facility handled (e.g. local tax can be only paid from a particular bank), or geographical coverage gaps. Emerging markets like India often need non-revolver banks for smooth business transactions.</p>


                <ul>
                <li>Banking Instruments:</li>
                </ul>

                <p class="m-l-10">Bank uses various modes/instruments for conducting different kinds of transactions. The most common form of payment/collection is NEFT or RTGS. In terms of payments, at times, stakeholders ask for particular kind of Instrument. In such scenarios, the concerned team should reach out to Treasury. Each instrument has its own process, approval matrix and turn around time, which is required for Banks to issue post necessary approvals.</p>

                <p class="m-l-10">The instruments which would be described under this sub-module is as follow:</p>

                <ol>
                <li>Bank Guarantees</li>
                <li>Counter Guarantees</li>
                <li>Letter of Credit</li>
                <li>Cheques</li>
                <li>Demand Draft</li>
                <li>NEFT</li>
                <li>RTGS</li>
                </ol>


                <p class="m-l-10">Bank Guarantee</p>
                <p class="m-l-10">are Bank taking exposure of the client (PepsiCo). When issued in favor of a counter-party, the bank claims a nominal charge for issuance. It should be noted that when counter-party asks for the liquidation of guarantees, it is the obligation of the Bank to honor the request</p>

                <p class="m-l-10">Kindly Note</p>
                <ul>
                <li>All Bank Guarantees issued in favor of any third party, needs to be processed through PepsiCo Treasury. </li>
                <li>Treasury needs to have the following data for any request. </li>
                </ul>

                <div class="table-responsive">
                <table class="table-cus" border="1">
                <tbody>
                <tr>
                <td>
                <p class="m-l-10">Complete Beneficiary name </p>
                </td>
                </tr>
                <tr>
                <td>
                <p class="m-l-10">Beneficiary address along with PIN Code </p>
                </td>
                </tr>
                <tr>
                <td>
                <p class="m-l-10">Expiry date</p>
                </td>
                </tr>
                <tr>
                <td>
                <p class="m-l-10">Claim Expiry Date</p>
                </td>
                </tr>
                <tr>
                <td>
                <p class="m-l-10">Purpose of Bank Guarantee </p>
                </td>
                </tr>
                <tr>
                <td>
                <p class="m-l-10">BG Value </p>
                </td>
                </tr>
                <tr>
                <td>
                <p class="m-l-10">Payable location </p>
                </td>
                </tr>
                <tr>
                <td>
                <p class="m-l-10">Legal approval in Bank Guarantee word text file</p>
                </td>
                </tr>
                </tbody>
                </table>
              </div>


                <ul>
                <li>The draft needs to be vetted by Legal before being sent to Treasury.</li>
                <li>All necessary approvals should be in place before approaching Treasury.</li>
                </ul>

                <p class="m-l-10">Kindly Note &ndash; Bank Guarantee is an obligation of the Bank. There is no control when a claim is received by Bank. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank Guarantees of the following nature should be avoided</p>
                <ol>
                <li>Unlimited tenor Guarantee</li>
                <li>Guarantees with duration more than 1 year</li>
                </ol>

                <p class="m-l-10 text-center des"><strong>MCLR Rates &amp; Interest Rates</strong></p>


                <ul>
                <li>Interest Rate</li>
                </ul>

                <p class="m-l-10">The interest is charged on the tenure of the loan taken. Generally, interests rates are higher for Overnight (debt with 1 day maturity) rates as they are daily loans. The interest on OD and Working capital Loan is charged cumulatively at the end of the month.</p>


                <ul>
                <li>MCLR Rates</li>
                </ul>

                <p class="m-l-10">The Marginal cost funds based Lending Rate is a new regime envisioned by the RBI of India, applicable from 1</span><span style="font-size: 6.6pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: super; white-space: pre-wrap;">st</span><span> April, 2016. Under this regime, the rate of interest will be charged differently for different tenures. The standard tenures are:</p>

                <ol>
                <li>Overdraft</li>
                <li>1 Month</li>
                <li>3 Month</li>
                <li>6 Month, and</li>
                <li>12 Months</li>
                </ol>


                <p class="m-l-10">Additionally, this rates will change on a month basis. To add to that, the date of declaration of MCLR rates varies from bank to bank. The treasury keeps a track of all the rates by closely coordinating with the Banks. Banks charge PepsiCo, a premium on the MCLR rates. This rates are decided by banks, and often subjected to negotiation by Treasury. Treasury India generally negotiates the interest charges just over the MCLR rates.</p>

                <p class="m-l-10">INSTRUMENTS OF NEXT GENERATION</p>


                <ul>
                <li>NACH</li>
                </ul>

                <p class="m-l-10">NACH is an emerging technology at the collection side. It words similar to an NEFT/RTGS, but the benefit being in reduces the manual intervention How it works is, post invoicing, the outstanding gets auto pulled from a customer&rsquo;s account. The distributer doesn&rsquo;t need to initiate the transaction, nor does the unit need to follow- up with individual distributers. More of NACH is covered in the last module</p>


                <ul>
                <li>Wallet Based Payments</li>
                </ul>

                <p class="m-l-10">Another game changer in the world of humongous small transaction is wallet based transactions. The major players in this field is:</p>

                <ol>
                <li>Paytm</li>
                <li>Freecharge</li>
                <li>Mobikwik</li>
                </ol>


                <p class="m-l-10">All petty cash transactions which goes into G&amp;A line, can be moved to such online/mobile wallets. For example, ordering bouquet for an employee can be paid from wallets and hence risks associated to handling cash can be avoided.</p>

                    </div>


                  </div>
                </div>

                </div>

                <!-- <div ng-show="tab=='third'">

                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <video class="border" id="module3" name="module3" width="auto" height="400px" poster="http://pepsicodemo.scaledesk.com/pepsico-demo/img/video-preview.png" controls="">
                              <source src="http://www.demo.scaledesk.com/cash%20Management%20with%20music.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>

                </div> -->


                <div ng-show="tab=='third'">

                  <div class="panel panel-default" >
                    <div class="panel-heading f-18">Treasury 101 - Module 3<span class="text-success" ng-show="course2status || compelete2_module3">&nbsp;Completed&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                    <div class="panel-body">

                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 m-l-0">
                          <video class="border" id="module3" name="module3" width="auto" height="500px" poster="http://pepsicodemo.scaledesk.com/pepsico-demo/img/video-preview.png" controls="">
                            <source src="http://52.66.139.3:8023/Treasury_3_V2.mp4" type="video/mp4">
                          </video>
                        </div>
                    </div>

                  </div>
                </div>

                <div class="panel panel-default"  >
                  <div class="panel-heading">
                    <div class="row"  >
                      <div class="col-md-6 f-18">
                        Treasury 101 - Module 3
                      </div>
                      <div class="col-md-6 text-right f-18">
                      Description
                      </div>

                    </div>


                  </div>

                  <div class="panel-body" >
                    <div class="row"  >

                      <p class="m-l-10 text-center des"><strong>Import &amp; Exports</strong></p>
                      <p class="m-l-10">In this module, we will capture various aspects of :</p>
                      <ul>
                      <li>Imports</li>
                      <li>Exports</li>
                      </ul>


                      <p class="m-l-10 text-center des"><strong>Import</strong></p>


                      <p class="m-l-10">PepsiCo makes &nbsp;tons of &nbsp;payments against imports every year. The import are not confined to neighboring countries alone, but &nbsp;on a global scale. There are various currency in which the payments are done and is hence governed by stringent legislation and monitoring by Banks and RBI. All imports are majorly classified into two separate buckets:</p>


                      <ol>
                      <li>A1 Payments &ndash; Goods for example Raw Material or Packing Material or Capex related like buying &nbsp;Machine parts</li>
                      <li>A2 payments &ndash; Services e.g. Installation of machineries</li>
                      </ol>


                      <p class="m-l-10">Each payment moves through a series of processes, right from raising PO to ensuring the goods are delivered and the services are rendered //Change Animation of Service. There are innumerous documentation that goes with each payment. Couple of such documents are </p>


                      <ol>
                      <li>15 CA</li>
                      <li>15 CB</li>
                      <li>PO</li>
                      <li>Invoices</li>
                      <li>Statutory Documents</li>
                      <li>Bill of Entry</li>
                      <li>Air Waybill or Bill of Lading</li>
                      </ol>


                      <p class="m-l-10">Out of the previously mentioned documents, 15CA/15CB are the certification from the authorized auditors confirming the legitimacy of the transaction. This is one of the most important and mandatory document necessary for any import payment.</p>

                      <p class="m-l-10">The other documents like PO, Invoices, Bill of Entry, Airway Bill (if imported by air cargo), Bill of Lading (if imported by a ship), etc. are also necessary and should clearly depict the nature , type, amount, currency, volume, etc. of the transaction. Each document is verified from the point of dispatch till it reaches the necessary unit. There are also statutory commitments like customs duty on each import made. </p>

                      <p class="m-l-10">Treasury does the following in any import payment:</p>
                      <ol>
                      <li>Keeps track of all import requests.</li>
                      <li>Confirms each documents are in place.</li>
                      <li>Keeps track of all documentation &amp; submits the same to Banks/RBI.</li>
                      <li>Does Customs duty payments.</li>
                      <li>Collates and submits the bill of entry to Banks.</li>
                      <li>Co-ordinates with IBM &amp; Units to ensure all payments are correct and done in time.</li>
                      <li>Ensures funds are available for each kind of payment.</li>
                      <li>Ensures minimal forex loss or conversion loss during payments.</li>
                      <li>Co-ordinates with Units to with documentation and confirmation/receipts/challans for smooth payments. </li>
                      <li>Co-ordinates with bank if any exceptional import payment is flagged off.</li>
                      <li>In association with Bank conducts audit for import payments</li>
                      </ol>

                      <p class="m-l-10 text-center des"><strong>Exports</strong></p>


                      <p class="m-l-10">PepsiCo India region involves not only India but also Bangladesh, Sri Lanka and Nepal. So all requirements pertaining to Raw Materials or Packaging materials or other services rendered to these country is taken care from India . Few such examples can be </p>

                      <ol>
                      <li>Concentrate Exports</li>
                      <li>Spice Mix Exports.</li>
                      </ol>


                      <p class="m-l-10">The exports to these countries are governed by different agreements and bilateral legislation between both the countries. Treasury ensures that all payments are rightly followed and transactions are smooth. Similar to imports, &lt;/p&gt; in exports there are multiple documentations involved. Examples of these can be as follows:</p>

                      <ol>
                      <li>PO</li>
                      <li>Invoice</li>
                      <li>Letter of Credit</li>
                      <li>Certificate of Origin</li>
                      <li>Shipment Bill</li>
                      <li>Truck Receipt</li>
                      <li>Radioactivity certificate</li>
                      <li>Bill of Exchange</li>
                      <li>Bill of Entry</li>
                      <li>Insurance Certificate</li>
                      </ol>


                      <p class="m-l-10">All documents mentioned earlier and handled or provided by &nbsp;multiple third party vendors/auditors/statutory body. These documents should be collated and confirmed post which a request for transfer of goods can be initiated. A good 10-15 documents from 5-6 sources is received per transaction. All documents are signed at treasury end and submitted to relevant stakeholders.</p>

                      <p class="m-l-10">Treasury also keeps track of all such LC and dispatches. Treasury works closely with the &nbsp;team to ensure smooth transactions and processing. &nbsp;Moreover, one of the criticalities of Export is the currency handled. The collections in export business is in dollars &nbsp;for Bangladesh and Sri Lanka, while in Indian rupees for Nepal. To add on that, the point of realization of sale is different for different countries .</p>

                      <p class="m-l-10">Due to multiple documents involved and co-ordination with various banks and various stakeholders, both import and export needs to be handled carefully. Treasury acts as a facilitator to ensure smooth cross country transactions while maintaining 100% compliance to regulatory requirement.</p>

                    </div>


                  </div>
                </div>

                </div>

                <div ng-show="tab=='fourth'">

                    <!-- <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                            <video class="border" id="module4" name="module4" width="auto" height="500px" poster="http://pepsicodemo.scaledesk.com/pepsico-demo/img/video-preview.png" controls="">
                              <source src="http://www.demo.scaledesk.com/cash%20Management%20with%20music.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div> -->

                    <div class="panel panel-default" >
                      <div class="panel-heading f-18">Treasury 101 - Module 4<span class="text-success" ng-show="course2status">&nbsp;Completed&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i></span></div>
                      <div class="panel-body">


                      <div class="row"  >
                          <div class="col-md-9 col-md-offset-1 m-l-0">
                            <video class="border" id="module4" name="module4" width="auto" height="500px" poster="http://pepsicodemo.scaledesk.com/pepsico-demo/img/video-preview.png" controls="">
                              <source src="http://52.66.139.3:8023/Treasury%204_V2.mp4" type="video/mp4">
                            </video>
                          </div>

                     </div>
                    </div>
                  </div>





                    <!-- <div class="row" ng-show="c2ques_active" style="background-color:#efeeee;"  > -->
                        <!--<div class="row"  >-->
                          <div class="panel panel-default" ng-show="!showdesc" >

                        <div class="panel-heading">

                          <div class="row" >
                            <div class="col-md-9 f-18">
                              Treasury 101 - Questions
                            </div>
                            <div class="col-md-3 text-right">
                              <button class="btn btn-primary btn-custom" ng-click=toggleview() >Description&nbsp;<i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </div>

                          </div>




                        </div>

                        <div class="panel-body" >
                          <div class="row"  >


                        <!-- <form ng-submit="submitanswer(submit_answer,questionformValid)" name="questionform" novalidate  > -->
                          <form ng-submit="submitanswer(submit_answer_a,submit_answer_b,submit_answer_c,submit_answer_d,questionformValid)" name="questionform" novalidate  >

                              <div ng-repeat="question in questions" class="col-md-11 col-md-offset-1 ques-margin">

                                <p class="f-16 m-b-0 darkblue-color" ><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;Question - {{$index+1}}</p>
                                <p  class="blue-font f-18 m-b-0">{{question.ques}}</p>




                                <div class="checkbox f-18">
                                  <label>
                                    <input type="checkbox" name="q{{$index+1}}" ng-false-value="0" value="a" ng-model="submit_answer_a[$index+1]" >
                                    {{question.a}}
                                  </label>
                                </div>

                                <div class="checkbox f-18">
                                  <label>
                                    <input type="checkbox" name="q{{$index+1}}" ng-false-value="0" value="b"  ng-model="submit_answer_b[$index+1]" >
                                    {{question.b}}
                                  </label>
                                </div>

                                <div class="checkbox f-18">
                                  <label>
                                    <input type="checkbox" name="q{{$index+1}}" ng-false-value="0" value="c" ng-model="submit_answer_c[$index+1]" >
                                    {{question.c}}
                                  </label>
                                </div>

                                <div class="checkbox f-18">
                                  <label>
                                    <input type="checkbox" name="q{{$index+1}}" ng-false-value="0" value="d" ng-model="submit_answer_d[$index+1]"  >
                                    {{question.d}}
                                  </label>
                                </div>



<!--
                                <div class="radio f-18">
                                  <label>
                                    <input type="radio" name="q{{$index+1}}" ng-model="submit_answer[$index+1]" value="a" required>
                                    {{question.a}}
                                  </label>
                                </div>

                                <div class="radio f-18">
                                  <label>
                                    <input type="radio" name="q{{$index+1}}" ng-model="submit_answer[$index+1]" value="b" required>
                                    {{question.b}}
                                  </label>
                                </div>

                                <div class="radio f-18">
                                  <label>
                                    <input type="radio" name="q{{$index+1}}" ng-model="submit_answer[$index+1]" value="c" required>
                                    {{question.c}}
                                  </label>
                                </div>

                                <div class="radio f-18">
                                  <label>
                                    <input type="radio" name="q{{$index+1}}" ng-model="submit_answer[$index+1]" value="d" required>
                                    {{question.d}}
                                  </label>
                                </div> -->







                                <small style="color: darkred" ng-show="!q{{$index+1}}_response && valid && submitted ">Wrong Answer</small>


                                <small style="color: darkred" ng-show="questionform.q{{$index+1}}.$invalid && submitted ">* Please answer this question</small>

                            </div>

                           <!-- <span class="submit-btn" >
                              <button type="submit" class="btn btn-primary submit-button">Submit</button>
                           </span> -->
                           <div class="submit-btn text-right" ng-hide="course2status" >
                              <button type="submit" class="btn btn-primary submit-button success-btn">Submit</button>
                           </div>

                            <span style="display:none" >{{ questionformValid = questionform.$valid}}</span>

                        </form>

                      </div>
                    </div>

                    </div>



                                          <div class="panel panel-default" ng-show="showdesc" >
                                            <div class="panel-heading">
                                              <div class="row"  >
                                                <div class="col-md-6 f-18">
                                                  Treasury 101 - Module 4 - Description
                                                </div>
                                                <div class="col-md-4 text-right">
                                              <p class="danger" ng-hide="c2ques_active" >*First watch complete video to give test</p>
                                                </div>
                                                <div class="col-md-2 text-right">

                                                  <button class="btn btn-primary btn-custom" ng-disabled="!c2ques_active" ng-click=toggleview() >

                                                    <span ng-hide="course2status">Give Test&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                                    <span ng-show="course2status" >Show Questions</span>

                                                  </button>
                                                </div>

                                              </div>


                                            </div>

                                            <div class="panel-body" >
                                              <div class="row"  >

                                                <p class="m-l-10 text-center des"><strong>Treasury Projects</strong></p>

                      <p class="m-l-10">In this module, we will briefly touch upon the following:</p>
                      <ol>
                      <li>Supplier Financing</li>
                      <li>NACH</li>
                      <li>Channel Financing </li>
                      </ol>

                      <p class="m-l-10 text-center des"><strong>Supplier Financing</strong></p>

                      <p class="m-l-10">Supplier financing is a solution incorporated in the payment side of the business. This works on the arbitrage of cost of Debt between the Supplier &amp; PepsiCo. The Vendor faces additional cost while PepsiCo benefits in DPO improvement. The final payment terms are generally decided during the agreement with the suppliers. The process is then Simple.</p>

                      <p class="m-l-10">1) Buyer(PepsiCo) issues a PO to Supplier</p>
                      <p class="m-l-10">2) Supplier delivers goods to Buyer(PepsiCo)</p>
                      <p class="m-l-10">3) Supplier raises an invoice and sends to IBM for processing. IBM processes the invoice and uploads in Bank&rsquo;s portal</p>
                      <p class="m-l-10">4) Bank discounts the supplier&rsquo;s receivables and credits their existing accounts immediately</p>
                      <p class="m-l-10">5) Bank debits PepsiCo&rsquo;s account with invoice value on the due date</p>

                      <p class="m-l-10">Note: </p>
                      <p class="m-l-10">Cost of Funding for Vendors ~ 11% - 13%</p>
                      <p class="m-l-10">Cost of Funding for PepsiCo ~ 8%</p>
                      <p class="m-l-10">The arbitrage of 3%-5% is transferred to PepsiCo as increase in Payment Terms thereby increasing DPO</p>
                      <p class="m-l-10">You may reach out to Treasury Team for more details &nbsp;of the program</p>

                      <p class="m-l-10 text-center des"><strong>NACH</strong></p>
                      <p class="m-l-10">Before understanding NACH, let us understand the current Collection process</p>

                      <p class="m-l-10">Current Process</p>

                      <ol>
                      <li>Distributer places &nbsp;an order for supply of goods with PepsiCo.</li>
                      <li>PepsiCo accepts the sales Order</li>
                      <li>Distributor pays PepsiCo in one of following modes</li>
                      <ol>
                      <li>Cheque or Demand Draft</li>
                      <li>NEFT or RTGS</li>
                      </ol>
                      <li>Once funds are received, PepsiCo releases the order and supplies the goods to the distributor.</li>
                      </ol>

                      
                      <p class="m-l-10 text-center des"><strong>Treasury Projects</strong></p>

                      <p class="m-l-10">In 2016, Treasury helped implement NACH (National Automated Clearing House) process to smoothen this collection process. </p>

                      <p class="m-l-10">In NACH, the distributer provides PepsiCo the authority to debit Distributer&rsquo;s account . The credit is automatically transferred in PepsiCo&rsquo;s books once the collection is received</p>

                      <p class="m-l-10">NACH is one of the most convenient methods of fund transfer in the world of automation. It is a hand-off solution for distributers and provides ease of fund transfers. Treasury in association with &nbsp;commercial and BIS, drives the project.</p>

                      <p class="m-l-10 text-center des"><strong>NACH Program Highlights</strong></p>

                      <ul>
                      <li>Automated solution for billing, inventory management and collection</li>
                      <li>Reduction in time spent by sales force on following up for payments</li>
                      <li>Reduction in delays of orders by removal of human involvement in payment</li>
                      <li>Reduction in error in RTGS/NEFT/cheque/Demand draft</li>
                      </ul>

                      <p class="m-l-10 text-center des"><strong>Channel Financing</strong></p>
                      <p class="m-l-10">PepsiCo today deals with innumerous distributers. To support these distributers in their working capital, PepsiCo extends support by tying up with Banks and helping these distributers to get debt at lower cost.</p>

                      <p class="m-l-10">While distributers get Bank loans at ~ 12% to 15%, PepsiCo helps Distributers by issuing a letter of comfort to get these Bank loans at ~ 8% to 10%.</p>

                      <p class="m-l-10">This project is hence mutually beneficial</p>
                      <p class="m-l-10">On one hand Distributers get Bank loans at lower rate while in the other PepsiCo has relatively better DSO as distributers pay in time</p>

                      <p class="m-l-10 text-center des"><strong>Course Summary</strong></p>

                      <p class="m-l-10">Treasury forms an Integral part of PepsiCo Finance. It deals with a plethora of Stakeholders to support business wherever possible.</p>

                      <p class="m-l-10">Thanks for taking up the course. Kindly provide your feedback at </span>
                        <a href="mailto:DL-PepsiCoTreasuryTeam@pepsico.com">
                          <span>DL-PepsiCoTreasuryTeam@pepsico.com</span></a></p>


                                              </div>


                                            </div>
                                          </div>




                </div>



            </div>
        </div>

  </div>
</div>
</div>
<script>
  $("div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
    });
</script>
