<div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1 class="home-msg">Welcome</h1>
                            <h3 class="home-msg">Enter your name and employee id to continue</h3>
                            <hr class="intro-divider">

                            <div style="padding-left:30%;padding-right:30%;text-align:left !important;">
                              <div class="log-form">
                                <form name="login_form" ng-submit="loginemp(user)" novalidate>
                                    <div class="form-group">
                                        <label for="name"><b style="color:#fff" class="f-20">Name</b></label>
                                        <input style="color:white"  type="text" id="uname" name="uname" ng-model="user.name" class="form-control" id="name" maxlength="20" required>
                                    </div>
                                    <small style="color: red" ng-show="login_form.uname.$invalid && submitted">Name is required</small>


                                    <div class="form-group">
                                        <label for="empid"><b style="color:#fff" class="f-20">Employee ID</b></label>
                                        <input style="color:white" type="text" id="eid" name="eid" ng-model="user.empid" class="form-control" id="empid" maxlength="20" required>
                                    </div>
                                    <small style="color:red" ng-show="login_form.eid.$invalid && submitted">Employee ID is required</small>


                                    <span style="display:none" >{{ user.loginForm = login_form.$valid}}</span>

                                      <div  class="text-center "><button type="submit" class="btn btn-primary f-20">Login</button></div>


                                </form>
                              </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
 </div>
