<div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>Get Started</h1>
                            <h3>Enter You name to continue!</h3>
                            <hr class="intro-divider">

                            <div style="padding-left:30%;padding-right:30%;text-align:left !important;">
                                <form ng-submit="redirect(name)">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" ng-model="name" class="form-control" id="name" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form> 
                            </div>

                            <!--<ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                                </li>
                                <li>
                                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                </div>

            </div>
 </div>